<p>
  <b>Object:</b>
  <%=h @object_property.obj_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @object_property.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @object_property.prop_type %>
</p>

<p>
  <b>Int val:</b>
  <%=h @object_property.int_val %>
</p>

<p>
  <b>Float val:</b>
  <%=h @object_property.float_val %>
</p>

<p>
  <b>String val:</b>
  <%=h @object_property.string_val %>
</p>

<p>
  <b>Blob val:</b>
  <%=h @object_property.blob_val %>
</p>


<%= link_to 'Edit', edit_object_property_path(@object_property) %> |
<%= link_to 'Back', object_properties_path %>