<h1>Gaming@Stanford</h1>
<p>Welcome to the project homepage. Here I will link to all the scaffolds which will allow us easy access to the DB.</p>

<%= link_to "Apps", :controller => "apps", :action => "index" %></br>
<%= link_to "Apps_Users", :controller => "apps_users", :action => "index" %></br>
<%= link_to "Developers", :controller => "developers", :action => "index" %></br>
<%= link_to "Friends", :controller => "friends", :action => "index" %></br>
<%= link_to "Game Objects", :controller => "game_objects", :action => "index" %></br>
<%= link_to "Game Objects Properties", :controller => "game_object_properties", :action => "index" %></br>
<%= link_to "Groups", :controller => "groups", :action => "index" %></br>
<%= link_to "Groups_Users", :controller => "groups_users", :action => "index" %></br>
<%= link_to "Score Boards", :controller => "score_boards", :action => "index" %></br>
<%= link_to "Users", :controller => "users", :action => "index" %></br>