<h1>Listing apps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Api key</th>
    <th>Developer</th>
  </tr>

<% @apps.each do |app| %>
  <tr>
    <td><%=h app.name %></td>
    <td><%=h app.api_key %></td>
    <td><%=h app.developer_id %></td>
    <td><%= link_to 'Show', app %></td>
    <td><%= link_to 'Edit', edit_app_path(app) %></td>
    <td><%= link_to 'Destroy', app, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New app', new_app_path %>

<br />
<br />

<%= link_to "Home", :controller => "home" %>